<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="com.zhubajie"/>
	<!-- 自动代理切面 -->
	<!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->

	<!-- 资源文件，有其他的资源文件统一放在这里 -->
	<bean id="configurePlaceholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- 配置文件中可能存在中文 -->
		<property name="fileEncoding" value="UTF-8"/>
		<!-- 配置文件列表 -->
		<!--<property name="locations">-->
			<!--<list>-->
				<!--&lt;!&ndash;<value>${out.properties}</value>&ndash;&gt;-->
				<!--<value>classpath:props/out.properties</value>-->
			<!--</list>-->
		<!--</property>-->
		<!-- 该配置允许spring在某个配置文件中找不到配置信息时，先不报错，先去其他配置文件查找配置信息 -->
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
	</bean>

	<!-- spring datasource 配置 -->
	<import resource="spring/spring-config-databases.xml"/>
	<!-- spring mvc 配置 -->
	<!--<import resource="spring/spring-config-mvc.xml"/>-->

</beans>